<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"  
		version="1.0.0" 
		id = "com.iqbalw3css.ui"
		xmlns:gap="http://phonegap.com/ns/1.0" >
	
	<name>W3css - Templates UI</name>
	<description>An example of W3schools - W3css widget & template UI</description>
	<author email="aiqbal.tech@gmail.com">Iqbal Najmul Achyar</author>
	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
