<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iqbalw3css.examps" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>My First App</name>
	<description>
		This app checks.
	</description>

	<author email="aiqbal.tech@gmail.com" href="https://facebook.com/dhia.ulfath">
		Iqbal Najmul Achyar
	</author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
